<link href="assets_footer/css/liMarquee.css" rel="stylesheet" type="text/css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<style>
.banner_container { max-width:2000px; }
</style>
</head>

<body>
<div class="banner_container">

       <style>
			.str31 { font-size:0 !important}
			.str31-2 { background:none !important;}
			.str31-2 .box { border:1px solid #ccc; background:white; color:#999; text-align:center;  display:inline-block; padding:10px 20px; }
		</style>
		      
    
       		
                  
                
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets_footer/js/jquery.liMarquee.js"></script>
<script>
$(window).load(function() { 
        
    /* basic - default settings */
		$('.str1').liMarquee();
		
				
		$('.str31').liMarquee({
			direction: 'left',	
			loop:-1,			
			scrolldelay:1,		
			scrollamount:50,	
			circular: true,		
			drag: true			
		});
		
		$('.str31-2').liMarquee({
			direction: 'left',	
			loop:-1,			
			scrolldelay: 1,		
			scrollamount:50,	
			circular: true,		
			drag: true			
		});
		
		
        
    })
</script>

</div>
</body>
</html>
