
body{
	margin:0px;
	color:#636363;
	background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */


	}

#headerbar{
	background-color:#00707E;
	height:40px;
	width:100%;
	color:#fff;
	text-align:right;
	z-index:-10px;
	border-bottom:1px solid #FFF;
	}
#logo{
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	width:387px;
	height:115px;
	float:left;
	padding-bottom:15px;
	}
#welcomebar{
	padding-top:7px;
	padding-right:10px;
	}	
	
.container{

	padding-top:15px;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;

	background-color:#ffffff;
	}
#accountbar{
	float:right;
	padding-right:12px;
	font-size:14px;
	text-align:center;
	}
.toplinkbar{ padding-bottom:10px; color:#666; padding-top:10px;}


#sepbar{ padding-left:10px; padding-right:10px; color:#FFF;}
.sepbar:first-child{padding-right:5px; }
.sepbar{ padding-left:9px; padding-right:9px; color:#FFF;}
.sepbar:last-child{padding-left:5px;}


.clearall{ clear:both;}
.extra-br{ padding-top:30px;}
#midsection{ margin-top:10px; overflow:hidden; padding-bottom:20px; min-height:600px;}
#loginform{ padding:20px; margin:0 auto; border:1px solid #999; margin-top:20px;}

#footer{ text-align:center;}
#footer p{ padding-top:10px;}

.bottom-shadow {
    -webkit-box-shadow: 0 6px 6px -6px #999;
       -moz-box-shadow: 0 6px 6px -6px #999;
            box-shadow: 0 6px 6px -6px #999;
}
.top-shadow {
    -webkit-box-shadow: 0 6px 6px 6px #999;
       -moz-box-shadow: 0 6px 6px 6px #999;
            box-shadow: 0 6px 6px 6px #999;
}

@keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

@-webkit-keyframes marquee {
    0%   { text-indent: 430px }
    100% { text-indent: -485px }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    -webkit-animation: marquee 17s linear infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}