<div style="background:url(images/3.jpg); background-size:cover; padding:50px 0px;">
<div class="text" style="text-align:center;">
<h2><span style="color:rgb(209, 72, 65)"><strong>Feedback</strong></span></h2>

<p>Experience to belive it</p>
</div>
</div>
