.search-form {
  display: inline-block;
  position: relative;
  width: 300px;
  margin-top: 5px;
  z-index: 3;
  float: right;
}
@media (max-width: 1199px) {
  .search-form {
    margin-top: 1px;
  }
}
@media (max-width: 991px) {
  .search-form {
    width: 221px;
  }
}
.search-form_label {
  width: 100%;
  display: block;
  padding: 10px 50px 10px 10px;
  background: trancparent;
  border: 1px solid #c9c9c9;
}
@media (max-width: 1199px) {
  .search-form_label {
    margin-bottom: 0;
  }
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #21c2f8;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 33px;
}
@media (max-width: 1199px) {
  .search-form_input {
    height: 31px;
  }
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 14px;
  right: 15px;
  width: 25px;
  height: 22px;
  font: 400 21px/24px 'FontAwesome', sans-serif;
  color: #c9c9c9;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: '\f002';
}
.search-form_submit:hover {
  color: #21c2f8;
}
@media (max-width: 767px) {
  .search-form {
    display: none;
    position: fixed;
    top: 75px;
    left: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.95);
    width: auto;
    border: 1px solid #c9c9c9;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .search-form_label {
    border: none;
  }
}
.search-form_toggle {
  display: inline-block;
  color: #222533;
  font: 400 16px/14px 'FontAwesome';
  position: fixed;
  z-index: 999999999;
  right: 40px;
  top: 23px;
  min-width: 13px;
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:focus {
  color: #222533;
}
.search-form_toggle.active,
.search-form_toggle:hover {
  color: #21c2f8;
}
.search-form_toggle.active:before {
  content: '\f00d';
}
@media (min-width: 768px) {
  .search-form_toggle {
    display: none;
  }
}
.search-form + * {
  margin-top: 25px;
}
.search-form.on {
  display: block;
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 11px;
  line-height: 24px;
  background: #ffffff;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #21c2f8;
}
.search-form_liveout .search_link .search_title {
  color: #21c2f8;
  font: 700 13px/18px 'Raleway', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #21c2f8;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #21c2f8;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #045e7c;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #21c2f8;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #222533;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #21c2f8;
}
.search-frame .search_list {
  color: #222533;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Raleway', sans-serif;
}
.search-frame .search_list .match {
  color: #21c2f8;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(0, 255, 0, 0.1);
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
}
.search-frame .search_list li + li {
  border-top: 5px solid #21c2f8;
}
.search-frame .search {
  color: #21c2f8;
  font-weight: 700;
}
.search-frame .match {
  color: #222533;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
