@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:5px; top:2px;}
    50%  {left:6px; top:2px;}
    75%  {left:2px; top:0px;}
    100% {left:2px; top:2px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:3px;}
    25%  {left:5px; top:2px;}
    50%  {left:6px; top:2px;}
    75%  {left:2px; top:0px;}
    100% {left:2px; top:2px;}
}
.map{ 
    left: 0;
    position: absolute;
    top: 0;
    width: 102%;
    background-size: 100% 100%;
	height:101%;
}			
#s_f_c_1{
	position:fixed;
	background:url(s_c_1_img.html) no-repeat 0px 200px;
	width:100%;
	height:800px;
	}	

.cl-3 {
    padding: 15px 0;
    width: 270px;
}

.hang-1{
	background-repeat: no-repeat;
    background-size: 80px auto;
    padding: 35px 0 0;
	height:90px;
	background-image:url(../images/navigation/home.png)
	}
.hang-2{
	background-repeat: no-repeat;
    background-size: 80px auto;
    padding: 45px 0 0;
	height:113px;
	background-image:url(../images/navigation/abouts-img.png)
	}
.hang-3{
	z-index:99 !important;
	background-repeat: no-repeat;
    background-size: 80px auto;
    padding: 75px 0 0;
	height:145px;
	background-image:url(../images/navigation/service-img.png)
	}
.hang-4{
	z-index:99 !important;
	background-repeat: no-repeat;
    background-size: 80px auto;
    padding: 45px 0 0;
	height:115px;
	background-image:url(../images/navigation/tecj-img.png)
	}
.hang-5{
	z-index:9 !important;
	width:80px !important;
	background:#a36db5;
	background-repeat: no-repeat;
    background-size: 80px auto;
    padding: 30px 0 0;
	height:105px;
	background-image:url(../images/navigation/contact-img.png)
	}	
.hang-6 {
	height:80px;
	padding: 15px 0 0;
    background: rgb(140, 205, 115) none repeat scroll 0 0;
}				
.hang-all {
	z-index:999999;
    margin-left: 30px;
    width: 80px;
	text-align:center;
	border-radius: 0 0 40px 40px;
	box-shadow: 0 0 4px rgb(61, 92, 61);
}
.hang-1 > a {
    color: #0c5fa0;
}
.hang-2 > a {
    color: #6e6d27;
}
.hang-3 > a {
    color: #3c540d;
}
.hang-4 > a {
    color: #326a5d;
}
.hang-5 > a {
    color: #3c3535;
}
.hang-6 > a {
    color: #3c3535;
}
.hang-all a {
	text-decoration:none;
    display: block;
    font-size: 11px !important;
    font-weight: bold;
    padding: 0 0px;
}	
.hang-all span {
    display: block;
}


/*------
	hello wrap
-------------------*/

.col30{
	width:30%;
	}
.col40{
	width:40%;
	}	

.social-wrap {
    text-align: center;
}

.container.hello-wrap {position: relative;z-index: 1;}
.lineimg {    left: -3%;    position: absolute;    top: 32%;}
.hello-img{background:url(../images/all_images/hello-img.png) no-repeat;background-size:100% 100%;height:400px;}
.hello-img img {    margin: auto;    width: 80%;}
.in img{
	width:80%;
	}
.twi img{
	width:67%;
	}
.hello-font h1 {
    color: #5aeffe;
    font-size: 7em;
    text-shadow: 3px 4px 3px #2783b6;
}
.hello-font h3 {
    color: #5aeffe;
    font-size: 4em;
    text-shadow: 3px 4px 3px #2783b6;
}
.hello-font h3 {
    color: #5aeffe;
    font-size: 0.9cm;
    line-height: 40px;
    padding: 0 33px 0 0;
    text-shadow: 3px 4px 3px #2783b6;
}			
.top-leftbox{ height:300px; position:relative;}
/*------
	clouds wrap
-------------------*/
#mountain_1 {
    background-image: url("../images/mountain/mount-r-1.png");
    background-repeat: repeat-x;
    background-size: 100% auto;
    bottom: 0;
    height: 237px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    width: 74%;
}
.mountain-s2 {
    bottom: 0;
    left: 35%;
    position: absolute;
    z-index: 99;
}	
.mountain-s2 img{ width:150px;}
.mountain-s3 {
    bottom: 0;
    left: 0;
    position: absolute;
}
.mountain-s3 img{ width:450px;}

.cloud1{
	background-image: url("../images/cloud/clu-r-1.png");
	background-repeat: repeat-x;
    bottom: 0;
    height: 145px;
    position: absolute;
	width: 100%;
	background-size:100% 100%;
	}
.cloud2{
	background-image: url("../images/cloud/clu-r-2.png");
	background-repeat: repeat-x;
    bottom: -60px;
    height: 130px;
    position: absolute;
	width: 100%;
	background-size:100% 100%;
	z-index:1;
	}
.cloud3{
	background-image: url("../images/cloud/clu-r-3_3.html");
	background-repeat: repeat-x;
    bottom: -110px;
    height: 130px;
    position: absolute;
	width: 100%;
	background-size:100% 100%;
	z-index:1;
	}			
.cloud.img1 {
	bottom:0px;
	height: 160px;
    margin-bottom: -65px;
    position: absolute;
    width: 100%;
	z-index:1;
}
.cloud.img2 {
    height: 157px;
    margin-bottom: -98px;
    position: absolute;
    width: 100%;
	z-index:2;
	bottom:0px;
}
.cloud.img4 {
    left: 32em;
    position: absolute;
    margin-top: 112px;
}
.cloud.img5 {
    position: absolute;
    right: 110px;
}	
.cloud.img6 {
    left: -100px;
    position: absolute;
    mairgin-top: 30px;
}
.cloud.img7 {
    left: 40px;
    position: absolute;
    margin-top: -10px;
}
.cloud.img8 {
    left: 214px;
    position: absolute;
    margin-top: -65px;
}
.cloud.img9 {
    left: 37em;
    position: absolute;
}
.cloud.img10 {
    left: 50em;
    position: absolute;
}
.cloud.img11 {
    left: 63em;
    position: absolute;
    margin-top: -40px;
}
.cloud.img12 {
    position: absolute;
    right: -4em;
    margin-top: 10px;
}
.cloud.img13 {
    left: 100px;
    position: absolute;
    margin-top: 75px;
}
.cloud.img14 {
    left: 24em;
    position: absolute;
    margin-top: 35px;
}
.cloud.img15 {
    left: 56em;
    position: absolute;
    margin-top: 50px;
}


/*------
	service wrap
-------------------*/
.clsectio {
    bottom: 90px;
    height: 100px;
    position: absolute;
    width: 100%;
}
.clsectio1 {
    bottom: 40px;
    height: 100px;
    position: absolute;
    width: 100%;
}
.clsectio2 {
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 100%;
}
.cl2 {height: 155px;}
.clsectio img{ width:100%;}
.clsectio1 img{ width:100%;}
.clsectio2 img{ width:100%;}
.ship2 {
    bottom: 9px;
    position: absolute;
    right: 0;
    width: 79%;
    z-index: 0;
}
.service-box {
    height: 800px;
}
.service-center {
	position:relative;
	min-height: 340px;
    margin: 180px 0 0;
    text-align: center;
	background:url(../images/servoceBackImg.png) no-repeat;
	background-size:100% 100%;
	transition: all 0.5s ease;
}
.simgwrap {
    height: 245px;
    padding: 11px 0;
    position: relative;
}	
/*.service-center:hover img {
	border-radius: 7px;
    box-shadow: 0 1px 5px #000;
    margin: 18px 0;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
    width: 40%;
}
*/
.icon > img {
    height: 150px;
}
.service-center > a {
     min-height: 250px;
}
.service-content {
	left:0px;
    bottom: 0;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
}
.service-content h2 {
    font-size: 26px;
    text-transform: uppercase;
}
.service-content p {
    font-size: 15px;
	font-weight:bold;
	color: green;
}
.service-img img {
    width: 53%;
}
.service-center a {
    color: #015191;
    text-decoration: none;
}
.cloud.tree2 {
    left: 150px;
    position: absolute;
    top: 100px;
}
.cloud.tree3 {
    left: -25px;
    position: absolute;
    top: 360px;
}
.cloud.tree1 {
    position: absolute;
    right: 100px;
    top: 482px;
}

.mountain-2{
    height: 60px;
    margin-top: -3px;
    position: absolute;
    width: 100%;
	background:#faa69c;
	}	
.mountain-2 img{
	margin-top: -50px;
    position: absolute;
    width: 100%;
    z-index: 1;
	}
.mountain-3 img{
	z-index:11;
	bottom:0;
	margin-bottom:0px;
	position: absolute;
    width: 100%;
	}		
.mountain-3{
    background: rgb(250, 166, 156) none repeat scroll 0 0;
    height: 80px;
    margin-top: 55px;
    position: absolute;
    width: 100%;
	}	


/*------
	testomonial wrap
-------------------*/	
.testocontainer{ padding-top:9%;}
.col-sm-4.col-xs-12.test-wrap-left {
    padding-right: 5px;
}
.col-sm-4.col-xs-12.test-wrap-right{
	padding-left:5px;
}
.tesall::after {
    clear: both;
    content: "";
    display: block;
}
.tesall {
   background: #f15f43 none repeat scroll 0 0;
    border-radius: 21px;
    float: right;
    height: 370px;
    margin-bottom: 5px;
    padding: 52px 40px 0px 40px;
    text-align: center;
    width: 280px;
	color:#fff;
}
.tesall > span, .testimonial span {
	color:#000;
    background: #fff none repeat scroll 0 0;
    border-radius: 12px;
    display: block;
    font-size: 33px;
    margin: auto;
    padding: 11px 0;
    width: 70px;
}
.tesall > p{
	color:#fff;
	font-size:14px;
	}
.testimonial_text {
    color: #fff;
    margin: 0 auto 6px;
    width: 250px;
}	
.tesall a, .testimonial a {
    background: #353337 none repeat scroll 0 0;
    border-radius: 14px;
    color: #fff;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    width: 40px;
}
.tesall h6 {
    color: #fff;
    font-size: 35px;
    letter-spacing: -3px;
    margin: 32px 0 11px;
    text-transform: uppercase;
}
.tesall-right{ background:#efc94c; float:left;}
.umberela-box {
    float: right;
    margin-top: 60px;
    position: relative;
    width: 400px;
}
.umberela-img-1 {
    position: absolute;
    top: 150px;
    z-index: 1;
}
.umberela-img-2 {
    position: absolute;
    right: 74px;
}
.butterfly-img {
    margin-left: 100px;
}
.ship-section {
    bottom: 130px;
    position: absolute;
	left:0;
    width: 50%;
}
#ship_1 {
    bottom: 6px;
	margin-left:-87%;
    position: absolute;
}
.ship-2 {
    bottom: 0;
    left: -10px;
    position: absolute;
}
.user {
    bottom: 0;
    position: absolute;
    width: 100%;
	height: 250px;
}		
.t-man-center{
	height:250px;
	}
.t-man-5 {
    bottom: -165px;
    left: 0;
    position: absolute;
}
.t-man-4 {
    bottom: -165px;
    left: 250px;
    position: absolute;
}
.t-man-3 {
    bottom: -165px;
    left: 490px;
    position: absolute;
}
.t-man-2 {
    bottom: -165px;
    left: 730px;
    position: absolute;
}
.t-man-1 {
    bottom: -165px;
    right: 0;
    position: absolute;
}
/*------
	footer
---------------*/
#footer-section{
	border-top:12px solid #f07868;
	}
.pencle {
    left: 0;
    position: absolute;
    top: 0;
}
.lamp {
    position: absolute;
    right: -6px;
    top: -1px;
    transform: rotate(90deg);
}
.bulbRightOff{ transform: rotate(90deg);}
.bulb2 {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.bulb2 > img {position: absolute;display: none;}
.bulbRightOff {
    right: -8px;
    top: -4px;
    transform: rotate(88deg);
    z-index: 9;
}
.buldrightOn {
    height: 680px;
    right: 0;
    top: 0;
    width: 100%;
}
.bulbleftoff {
    left: -5px;
    top: -7px;
    transform: rotate(-3deg);
    z-index: 9;
}
.bulbleftOn{ top:0; left:0;}

.bulb1 { display: inline-block; }
.bulb1 > img {position: absolute; 0;display: none;}

.table-small {
    bottom: 120px;
    position: absolute;
    left: 30px;
}
.footer-box {
    margin-top: 150px;
}
.address.address-home.clearfix {
    padding-top: 18px;
}
.address{
	color:#95daed;
	letter-spacing:1px;
	font-size:15px;
	margin:10px 0;
	}
.help{
	line-height: 24px;
	color:#00bdff;
	letter-spacing:1px;
	font-size:15px;
	}	
.help a{
	color:#9cd04a;
	text-decoration:none;
	}	
.address h2{
	background-image: url("../images/footer/address.png");
	background-repeat:no-repeat;
	padding-left:50px;
	color:#fff;
	background-position:left;
	}
.help h2{
	background-image: url("../images/footer/help.png");
	background-repeat:no-repeat;
	padding-left:50px;
	color:#fff;
	background-position:left;
	}
.new-wrap{
	background-image: url("../images/footer/stand-tablet.png");
	background-repeat: no-repeat;
    background-size: 100% auto;
    height: 706px;
    padding: 11em 22em 24em 8em;
    width: 100%;
	}
.new-content h2{
	color:#fff;
	}
.new-content a{
	color:#95daed;
	}		
.new-content strong{
	color:#f9cb81;
	}
.new-content p{
	color:#fff;
	font-size:14px;
	}			
	
/*keyFrame css for logo*/

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

/*keyFrame css end here*/



/*testimonials css start*/
.test-wrap-center {
    background: #2bbfbd none repeat scroll 0 0;
    border-radius: 21px;
    margin: auto;
    min-height: 370px;
    text-align: center;
    width: 280px;
}
#testimonials {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0%;
	padding: 0 25px;
	height:180px;
    transform: translateY(32%);
	-webkit-transform: translateY(32%);
    -ms-transform: translateY(32%);
}
#testimonials .testimonial{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
}
#testimonials h2{
	color: #fff;
    font-size: 35px;
    letter-spacing: -3px;
    margin: 32px 0 11px;
    text-transform: uppercase;
}
#test_container{
	position:relative;
	overflow:hidden;
}
#testimonials .testimonial_text{
	font-size:14px;
}
#testimonials .testimonial_name{
	font-size:14px;
	margin:10px auto 3px;
	font-style:italic;
}
.testimonial a{
	color:#fff;
	text-decoration:none;
	}
#testimonials .testimonial_designation{
	font-size: 12px;
	line-height: 14px;
}
#t_pagers{
	position:absolute;
	left:0%;
	bottom:10px;
	width:100%;
}
#t_pagers .pager{
	display:inline-block;
	text-decoration:none;
	margin-right:5px;
	cursor:pointer;
	transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
#t_pagers .pager.active{
	margin-top:-100px;
	top:-100px;
	
}
#t_pagers img {
    height: 220px;
    width: 210px;
}
.new-content marquee {
    height: 130px;
    overflow: hidden;
}
.new-content > span {
    color: rgb(0, 128, 0);
    display: block;
    margin-top: -10px;
    padding-bottom: 5px;
}
.testimonial a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*testimonial css end*/


/*home page changes*/
.nave-home a {
    padding: 20px 0 !important;
}
.nave-home b {
    margin-top: -45px;
}
.nav > li > a:focus,
.nav > li > a:hover, 
.nav > li > a.active{
	background:none !important;
	border:0 !important;
	color:inherit !important;
	}
.home_dropdown {
    background:#5aeffe;
    border-radius: 15px !important;
    margin-top: -4px !important;
}	
.home_dropdown li a:hover {
    background:#2394d5;
    text-decoration: none;
}
.home_dropdown {
    padding: 15px 0;
}
.home_sticky{
	display:none;
	}
.dropdown-menu > li > a{
	text-decoration:none !important;
	}		
/*home page changes end*/

/*----portpoliyo css-----*/
.cloud, .space, .ground {
  position: relative;
}

/* line 48, ../sass/components/_layout.scss */
.cloud {
  height: 0px;
  z-index: 99999;
}

/* line 53, ../sass/components/_layout.scss */
.space {
  height: 625px;
  position: relative;
  z-index: 2;
  background:url("../images/protpolio/snape.png") no-repeat scroll 0 0 / 100% 100%;
}

/* line 63, ../sass/components/_layout.scss */
.first-part {
  bottom: 0px;
  height: 260px;
  position: absolute;
  width: 50%;
  left: 0;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 69, ../sass/components/_layout.scss */
.last-part {
  bottom: 0px;
  height: 185px;
  position: absolute;
  width: 50%;
  right: 0;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 75, ../sass/components/_layout.scss */
.ground {
  height: 200px;
  position: relative;
  z-index: 99999;
}

/* line 15, ../sass/components/_header.scss */

/* line 21, ../sass/components/_header.scss */


/* line 33, ../sass/components/_hills.scss */
.first-hill {
  z-index: 8;
  background: url("../images/protpolio/hill.png") no-repeat;
  bottom: 0;
  height: 110px;
  position: absolute;
  width: 834px;
  left: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 546, ../sass/commons/_mixins.scss */
.first-hill else {
  background-position: -20px 0;
}

/* line 42, ../sass/components/_hills.scss */
.last-hill {
  z-index: 9;
  background: url("../images/protpolio/hill.png") no-repeat;
  bottom: 0;
  height: 130px;
  position: absolute;
  width: 100%;
  right: 0px;
}
/* line 546, ../sass/commons/_mixins.scss */
.last-hill else {
  background-position: -20px 0;
}

/* line 49, ../sass/components/_hills.scss */
.grace {
  background: url("../images/protpolio/grace.png") repeat-x transparent;
  background-size: 100% 100%;
  bottom: 0px;
  height: 208px;
  width: 100%;
  position: absolute;
  z-index: 20;
}

/* line 21, ../sass/components/_house.scss */
.house {
  background: url("../images/protpolio/house.png") no-repeat transparent;
  height: 200px;
  top: -100px;
  position: absolute;
  width: 290px;
  z-index: 14;
  left: 30%;
}

/* line 37, ../sass/components/_trees.scss */
.first-trees {
  background: url("../images/protpolio/trees.png") no-repeat transparent;
  height: 175px;
  position: absolute;
  top: 40px;
  width: 436px;
  z-index: 6;
  right: 10%;
}

/* line 42, ../sass/components/_trees.scss */
.last-trees {
  background: url("../images/protpolio/trees.png") no-repeat transparent;
  height: 178px;
  position: absolute;
  top: -15px;
  width: 436px;
  z-index: 6;
  left: 13%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 50, ../sass/components/_clouds.scss */
.larg-bubble {
  background: url("../images/protpolio/small-cloud.png") no-repeat transparent;
  background-size: 100% 100%;
  height: 27px;
  position: absolute;
  width: 36px;
  right: 40%;
  -webkit-animation: bubblemove 5s infinite linear;
  -moz-animation: bubblemove 5s infinite linear;
  -ms-animation: bubblemove 5s infinite linear;
  animation: bubblemove 5s infinite linear;
}

/* line 55, ../sass/components/_clouds.scss */
.small-bubble {
  background: url("../images/protpolio/small-cloud.png") no-repeat transparent;
  background-size: 100% 100%;
  height: 27px;
  position: absolute;
  width: 36px;
  right: 40%;
  -webkit-animation: bubblemove 5s infinite linear -2s;
  -moz-animation: bubblemove 5s infinite linear -2s;
  -ms-animation: bubblemove 5s infinite linear -2s;
  animation: bubblemove 5s infinite linear -2s;
}

/* line 60, ../sass/components/_clouds.scss */
.cloud__back {
  background:url(../images/protpolio/cloud.png) repeat-x transparent;
  height: 228px;
  position: absolute;
  width: 100%;
  top: 2px;
  z-index: 18;
}

/* line 66, ../sass/components/_clouds.scss */
.cloud__front {
  background: url(../images/protpolio/cloud.png) repeat-x transparent;
  height: 228px;
  position: absolute;
  width: 100%;
  top: -12px;
  z-index: 19;
}

/* line 72, ../sass/components/_clouds.scss */
.cloud__main {
  background: url(../images/protpolio/cloud.png) repeat-x transparent;
  height: 108px;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 16;
}

/* line 81, ../sass/components/_clouds.scss */
.blue-shadow {
  background: url("../images/protpolio/blue-shadow.png") no-repeat transparent;
  height: 392px;
  width: 1000px;
  position: absolute;
  top: 150px;
  z-index: 8;
  left: 13%;
}

/* line 94, ../sass/components/_clouds.scss */
.cloud .x1 {
  -webkit-animation: cloudmove 3.5s infinite linear;
  -moz-animation: cloudmove 3.5s infinite linear;
  -ms-animation: cloudmove 3.5s infinite linear;
  animation: cloudmove 3.5s infinite linear;
}
/* line 98, ../sass/components/_clouds.scss */
.cloud .x2 {
  -webkit-animation: cloudmove 3s infinite linear;
  -moz-animation: cloudmove 3s infinite linear;
  -ms-animation: cloudmove 3s infinite linear;
  animation: cloudmove 3s infinite linear;
}
/* line 102, ../sass/components/_clouds.scss */
.cloud .x3 {
  -webkit-animation: cloudmove 2.5s infinite linear;
  -moz-animation: cloudmove 2.5s infinite linear;
  -ms-animation: cloudmove 2.5s infinite linear;
  animation: cloudmove 2.5s infinite linear;
}

@-webkit-keyframes cloudmove {
  /* line 110, ../sass/components/_clouds.scss */
  0% {
    background-position: -105px 0px;
  }

  /* line 113, ../sass/components/_clouds.scss */
  100% {
    background-position: -210px 0px;
  }
}

@-moz-keyframes cloudmove {
  /* line 110, ../sass/components/_clouds.scss */
  0% {
    background-position: -105px 0px;
  }

  /* line 113, ../sass/components/_clouds.scss */
  100% {
    background-position: -210px 0px;
  }
}

@-ms-keyframes cloudmove {
  /* line 110, ../sass/components/_clouds.scss */
  0% {
    background-position: -105px 0px;
  }

  /* line 113, ../sass/components/_clouds.scss */
  100% {
    background-position: -210px 0px;
  }
}

@keyframes cloudmove {
  /* line 110, ../sass/components/_clouds.scss */
  0% {
    background-position: -105px 0px;
  }

  /* line 113, ../sass/components/_clouds.scss */
  100% {
    background-position: -210px 0px;
  }
}

@-webkit-keyframes bubblemove {
  /* line 119, ../sass/components/_clouds.scss */
  0% {
    height: 24px;
    top: 0px;
    width: 32px;
    right: 40%;
  }

  /* line 125, ../sass/components/_clouds.scss */
  30% {
    top: -25px;
  }

  /* line 127, ../sass/components/_clouds.scss */
  100% {
    height: 44px;
    top: -150px;
    width: 55px;
    right: 45%;
  }
}

@-moz-keyframes bubblemove {
  /* line 119, ../sass/components/_clouds.scss */
  0% {
    height: 24px;
    top: 0px;
    width: 32px;
    right: 40%;
  }

  /* line 125, ../sass/components/_clouds.scss */
  30% {
    top: -25px;
  }

  /* line 127, ../sass/components/_clouds.scss */
  100% {
    height: 44px;
    top: -150px;
    width: 55px;
    right: 45%;
  }
}

@-ms-keyframes bubblemove {
  /* line 119, ../sass/components/_clouds.scss */
  0% {
    height: 24px;
    top: 0px;
    width: 32px;
    right: 40%;
  }

  /* line 125, ../sass/components/_clouds.scss */
  30% {
    top: -25px;
  }

  /* line 127, ../sass/components/_clouds.scss */
  100% {
    height: 44px;
    top: -150px;
    width: 55px;
    right: 45%;
  }
}

@keyframes bubblemove {
  /* line 119, ../sass/components/_clouds.scss */
  0% {
    height: 24px;
    top: 0px;
    width: 32px;
    right: 40%;
  }

  /* line 125, ../sass/components/_clouds.scss */
  30% {
    top: -25px;
  }

  /* line 127, ../sass/components/_clouds.scss */
  100% {
    height: 44px;
    top: -150px;
    width: 55px;
    right: 45%;
  }
}

/* line 17, ../sass/components/_balloon.scss */
.balloon {
  background: url("../images/protpolio/balloon.png") no-repeat transparent;
  height: 69px;
  position: absolute;
  top: -130px;
  width: 49px;
  z-index: 300;
  -webkit-animation: balloonmove 15s infinite linear;
  -moz-animation: balloonmove 15s infinite linear;
  -ms-animation: balloonmove 15s infinite linear;
  animation: balloonmove 15s infinite linear;
  left: 500px;
}

@-webkit-keyframes balloonmove {
  /* line 32, ../sass/components/_balloon.scss */
  0% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 33, ../sass/components/_balloon.scss */
  15% {
    top: -180px;
    left: 460px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 34, ../sass/components/_balloon.scss */
  30% {
    top: -220px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, ../sass/components/_balloon.scss */
  45% {
    top: -260px;
    left: 500px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 36, ../sass/components/_balloon.scss */
  60% {
    top: -220px;
    left: 520px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 37, ../sass/components/_balloon.scss */
  75% {
    top: -180px;
    left: 530px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 38, ../sass/components/_balloon.scss */
  90% {
    top: -160px;
    left: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 39, ../sass/components/_balloon.scss */
  100% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes balloonmove {
  /* line 32, ../sass/components/_balloon.scss */
  0% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 33, ../sass/components/_balloon.scss */
  15% {
    top: -180px;
    left: 460px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 34, ../sass/components/_balloon.scss */
  30% {
    top: -220px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, ../sass/components/_balloon.scss */
  45% {
    top: -260px;
    left: 500px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 36, ../sass/components/_balloon.scss */
  60% {
    top: -220px;
    left: 520px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 37, ../sass/components/_balloon.scss */
  75% {
    top: -180px;
    left: 530px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 38, ../sass/components/_balloon.scss */
  90% {
    top: -160px;
    left: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 39, ../sass/components/_balloon.scss */
  100% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-ms-keyframes balloonmove {
  /* line 32, ../sass/components/_balloon.scss */
  0% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 33, ../sass/components/_balloon.scss */
  15% {
    top: -180px;
    left: 460px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 34, ../sass/components/_balloon.scss */
  30% {
    top: -220px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, ../sass/components/_balloon.scss */
  45% {
    top: -260px;
    left: 500px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 36, ../sass/components/_balloon.scss */
  60% {
    top: -220px;
    left: 520px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 37, ../sass/components/_balloon.scss */
  75% {
    top: -180px;
    left: 530px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 38, ../sass/components/_balloon.scss */
  90% {
    top: -160px;
    left: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 39, ../sass/components/_balloon.scss */
  100% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes balloonmove {
  /* line 32, ../sass/components/_balloon.scss */
  0% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 33, ../sass/components/_balloon.scss */
  15% {
    top: -180px;
    left: 460px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 34, ../sass/components/_balloon.scss */
  30% {
    top: -220px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, ../sass/components/_balloon.scss */
  45% {
    top: -260px;
    left: 500px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 36, ../sass/components/_balloon.scss */
  60% {
    top: -220px;
    left: 520px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 37, ../sass/components/_balloon.scss */
  75% {
    top: -180px;
    left: 530px;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 38, ../sass/components/_balloon.scss */
  90% {
    top: -160px;
    left: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 39, ../sass/components/_balloon.scss */
  100% {
    top: -140px;
    left: 480px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 17, ../sass/components/_snake.scss */
.snake {
  background: url("../images/protpolio/snake.png");
  height: 188px;
  position: absolute;
  top: -75px;
  width: 188px;
  z-index: 1;
  -webkit-animation: snakemove 8s infinite linear;
  -moz-animation: snakemove 8s infinite linear;
  -ms-animation: snakemove 8s infinite linear;
  animation: snakemove 8s infinite linear;
  left: 24%;
}

@-webkit-keyframes snakemove {
  /* line 33, ../sass/components/_snake.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, ../sass/components/_snake.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes snakemove {
  /* line 33, ../sass/components/_snake.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, ../sass/components/_snake.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes snakemove {
  /* line 33, ../sass/components/_snake.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, ../sass/components/_snake.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes snakemove {
  /* line 33, ../sass/components/_snake.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, ../sass/components/_snake.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 17, ../sass/components/_stars.scss */
.stars {
  background: url("../images/protpolio/stars.png") no-repeat transparent;
  height: 124px;
  margin: 0 auto;
  position: absolute;
  top: 240px;
  width: 820px;
  z-index: 10;

  left: 18%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 16, ../sass/components/_mountain.scss */
.mountain {
  background: url("../images/protpolio/mountain.png") no-repeat transparent;
  height: 188px;
  position: absolute;
  top: 5px;
  width: 282px;
  z-index: 3;
  left: 38%;
}

/* line 18, ../sass/components/_lighting.scss */
.yellow-lighting {
  background: url("../images/protpolio/yellow-lighting.png") no-repeat transparent;
  height: 500px;
  position: absolute;
  top: -215px;
  width: 500px;
  z-index: 5;
  right: 47%;
}


/* line 88, ../sass/ui/_popup.scss */
.popup {
  height: 260px;
  width: 328px;
  z-index: 100;
  background-color: rgba(19, 108, 148, 0.7);
  border: 1px solid #fff;
  position: absolute;
  top: 238px;
  z-index: 15;
  -webkit-box-shadow: inset 0 0 29px 5px rgba(255, 255, 190, 0.6), 0 0 21px 4px rgba(13, 133, 171, 0.55);
  -moz-box-shadow: inset 0 0 29px 5px rgba(255, 255, 190, 0.6), 0 0 21px 4px rgba(13, 133, 171, 0.55);
  box-shadow: inset 0 0 29px 5px rgba(255, 255, 190, 0.6), 0 0 21px 4px rgba(13, 133, 171, 0.55);
  left: 38%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}
/* line 42, ../sass/ui/_popup.scss */
.popup .popup__inner {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -khtml-border-radius: inherit;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 -3px 0 rgba(48, 140, 148, 0.6), inset 0 0 25px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 -3px 0 rgba(48, 140, 148, 0.6), inset 0 0 25px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 -3px 0 rgba(48, 140, 148, 0.6), inset 0 0 25px rgba(255, 255, 255, 0.6);
}
/* line 54, ../sass/ui/_popup.scss */
.popup .popup__title {
  color: #02203c;
  display: block;
  font-size: 18px;
  font-style: italic;
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
/* line 66, ../sass/ui/_popup.scss */
.popup .popup__sub-title {
  color: #fff;
  font-size: 15px;
  padding: 0 40px;
  text-align: center;
  text-shadow: 0 1px #004261;
}
/* line 75, ../sass/ui/_popup.scss */
.popup .popup__divider {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  height: 1px;
  margin: 15px auto;
  width: 60%;
}

/* line 63, ../sass/ui/_buttons.scss */
.blue-button {
  border: 1px solid;
  color: #fff;
  display: block;
  font-size: 17px;
  margin: 10px 35px;
  padding: 7px 10px;
  text-align: center;
  text-shadow: 0 1px rgba(159, 45, 66, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-color: #005b76;
  -webkit-box-shadow: 0 1px 0 rgba(37, 143, 176, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(37, 143, 176, 0.6);
  box-shadow: 0 1px 0 rgba(37, 143, 176, 0.6);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1ODFhMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ3YjVkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1581a0), color-stop(100%, #47b5d9));
  background: -webkit-linear-gradient(#1581a0, #47b5d9);
  background: -moz-linear-gradient(#1581a0, #47b5d9);
  background: -o-linear-gradient(#1581a0, #47b5d9);
  background: linear-gradient(#1581a0, #47b5d9);
}
/* line 31, ../sass/ui/_buttons.scss */
.blue-button:hover, .blue-button:active {
  cursor: pointer;
}
/* line 35, ../sass/ui/_buttons.scss */
.blue-button:active {
  color: #eee;
  padding: 7px 11px 7px 9px;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
}

/* line 71, ../sass/ui/_buttons.scss */
.red-button {
  border: 1px solid;
  color: #fff;
  display: block;
  font-size: 17px;
  margin: 10px 35px;
  padding: 7px 10px;
  text-align: center;
  text-shadow: 0 1px rgba(159, 45, 66, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-color: #872235;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2MjYzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M0NDE1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96263b), color-stop(100%, #c44159));
  background: -webkit-linear-gradient(#96263b, #c44159);
  background: -moz-linear-gradient(#96263b, #c44159);
  background: -o-linear-gradient(#96263b, #c44159);
  background: linear-gradient(#96263b, #c44159);
  -webkit-box-shadow: 0 2px rgba(160, 44, 65, 0.6);
  -moz-box-shadow: 0 2px rgba(160, 44, 65, 0.6);
  box-shadow: 0 2px rgba(160, 44, 65, 0.6);
}
/* line 31, ../sass/ui/_buttons.scss */
.red-button:hover, .red-button:active {
  cursor: pointer;
}
/* line 35, ../sass/ui/_buttons.scss */
.red-button:active {
  color: #eee;
  padding: 7px 11px 7px 9px;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
}

/* line 79, ../sass/ui/_buttons.scss */
.menu-button {
  border: 1px solid #340b0b;
  color: #fff;
  display: inline;
  padding: 5px 10px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0MmEzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IxNTY1MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #942a31), color-stop(100%, #b15653));
  background: -webkit-linear-gradient(#942a31, #b15653);
  background: -moz-linear-gradient(#942a31, #b15653);
  background: -o-linear-gradient(#942a31, #b15653);
  background: linear-gradient(#942a31, #b15653);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(148, 42, 49, 0.5), 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(148, 42, 49, 0.5), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(148, 42, 49, 0.5), 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* line 51, ../sass/ui/_buttons.scss */
.menu-button:hover {
  background: #b1474e;
  cursor: pointer;
}
/* line 55, ../sass/ui/_buttons.scss */
.menu-button:active {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
}

/* line 36, ../sass/edit/_stylesheet.scss */
.hide {
  display: none;
}

/* line 40, ../sass/edit/_stylesheet.scss */
.show {
  display: block;
}
.blog-link {
  line-height:30px;
  color:#1A6CCA;
  text-decoration:none;
}
.blog-link:hover {
  text-decoration:underline;
  color:#5AaCAA;
}
.hidetop{ position:relative; height:150px; z-index:999999}
.hidetopIn{ position:absolute; width:100%; height:150px; background:#feffff; z-index:99;}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { zoom: 1; }

.containerport { margin:105px auto; width:1000px;}
.poster-list li{ list-style:none;}
.poster-main {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.poster-main a, .poster-main img { display: block; }

.poster-main .poster-list {
  width: 1000px;
  height: 500px;
}

.poster-main .poster-list .poster-item {
  width: 200px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

.poster-main .poster-btn {
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

.poster-main .poster-prev-btn {
  left: 0;
  background: url(../img/left.html) no-repeat center center;
}

.poster-main .poster-next-btn {
  right: 0;
  background: url(../img/right.html) no-repeat center center;
}
.porpolioSlider {
	position: absolute;
    top: 12%;
    width: 100%;
    z-index: 9999;
}
#fourth-section{ position:relative;}

/*----------------------------------------New port polio start--------------------------------------------------------*/
/*---------- PORTFOLIO ----------*/
.potTranparent{ 
	background:rgba(103, 189, 160, 1);
	height:118vh;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	}

#portfolio-list div:first-child, #portfolio-list div:nth-child(4n+1){margin-left:0;}

.portfolio-element{
	width:230px;
	height:245px;
	float:left;
	margin:14px 0 0 25px;
}

.portfolio-mask-container{
	width:216px;
	height:216px;
	float:left;
	overflow:hidden;
}

.portfolio-mask:hover{
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

.portfolio-mask-container a{
	width:216px;
	height:220px;
	display:block;
	position:relative;
	overflow:hidden;
}

.portfolio-mask{
	width:310px;
	height:310px;
	float:left;
	margin:-47px 0 0 -47px;
	position:relative;
	z-index:2;
	background:url('../images/pentagon-mask.png') center center no-repeat;
/*	-webkit-transition:-webkit-transform 250ms ease-in-out;
	-moz-transition:-moz-transform 250ms ease-in-out;
	-o-transition:-o-transform 250ms ease-in-out;
	transition:transform 250ms ease-in-out;*/
}

.portfolio-image{
	width:269px;
	height:230px;
	left:-56px;
	display:block;
	position:absolute;
	background-repeat:repeat;
	background-color:#e7e7e7;
	background-position:0 -5px;
}

.portfolio-image.portfolio-image-hover{
	background-position:0 -235px;
	opacity:0;
}

.portfolio-title, .portfolio-subtitle{
	width:216px;
	float:left;
	text-align:center;
}

.portfolio-title{
	margin-top:10px;
	overflow:hidden;
}

.portfolio-subtitle{
	margin-top:2px;
	font-size:12px;
}

.portfolio-title h5{
	height: 22px;
    padding-top: 3px;
    position: relative;
    color: #037912;
    font-weight: bold;
	}

.portfolio-title h5 span{
	width:100%;
	height:20px;
	margin-bottom: -42px;
	display:block;
	position:absolute;
	color:#fff;
}

.new-badge{
    width:48px;
    height:48px;
    position:relative;margin-bottom:-62px;margin-top:14px;
    z-index:3;
    background:url('../images/new-badge.png') top left no-repeat;
}




.opendrive-iphone-app{background-image:url('../images/portfolio/damian-watracz-design-project-anderson-funeral.jpg');}

.contactag-qr-generator{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

.unstoppable-foundation{background-image:url('../images/portfolio/damian-watracz-design-project-anderson-funeral.jpg');}

.anderson-funeral{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

.huami{background-image:url('../images/portfolio/damian-watracz-design-project-anderson-funeral.jpg');}

.life-of-millionaire{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

.line2-user-console{background-image:url('../images/portfolio/damian-watracz-design-project-anderson-funeral.jpg');}

.line2-softphone{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

/*.funding-platform{background-image:url('../images/portfolio/damian-watracz-design-project-anderson-funeral.jpg');}

.funding-launchpad{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

.opendrive{background-image:url('../images/portfolio/damian-watracz-design-project-funding-launchpad.jpg');}

.pencil-drawings{background-image:url('../images/portfolio/damian-watracz-design-project-pencil-drawings.jpg');}*/

/*---------- PORTFOLIO end ----------*/

/*----------------------------------------New port polio en------------------------------------------------------------*/


/*-------Portpoliyo css end-------*/

/*---------------------------
 Home page top slider
----------------------------------------------*/

.slider {
  	height: 264px;
    margin: 16px auto;
    max-width: 425px;
    position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background:url(../images/slider/sl3.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(../images/slider/sl2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(../images/slider/sl1.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/*------------------------
	Home page top slider end
-----------------------------------------*/
/*---------------------------
	Tab animation css
----------------------------------------------*/

.tabani {
  	height: 92px;
    left: 210px;
    max-width: 105px;
    position: relative;
    top: 24px;
}
.taba1,.taba2,.taba3,.taba4 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tabani img {
    width: 100%;
}
.taba1 {
/*  background:url(../images/all_images/anis1.png)no-repeat center;
      background-size: cover;
*/    animation:fade 15s infinite;
	-webkit-animation:fade 15s infinite;

} 
.taba2 {
/*  background: url(../images/all_images/anis2.png)no-repeat center;
      background-size: cover;
*/    animation:fade2 15s infinite;
	-webkit-animation:fade2 15s infinite;
}
.taba3 {
/*    background: url(../images/all_images/anis31.png)no-repeat center;
      background-size: cover;
*/    animation:fade3 15s infinite;
	-webkit-animation:fade3 15s infinite;
}
.taba4 {
/*    background: url(../images/all_images/anis4.png)no-repeat center;
      background-size: cover;
*/    animation:fade3 15s infinite;
	-webkit-animation:fade3 15s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
